# Prepare a CSV file for upload to Zooniverse Project Builder

In [5]:
import pandas as pd
import os
import glob
import re

In [17]:
file_pattern = 'data/columns/rows/N193-022_0184-col-*'
images = glob.glob(file_pattern)
data = []
for image in images:
    if 'header' not in image:
        filename = image.split('/')[-1]
        volume = re.search(r'(N193-\d+)_', filename).group(1)
        page = re.search(r'N193-\d+_(\d+)-col', filename).group(1)
        column = re.search(r'N193-\d+_\d+-col-(\d+)', filename).group(1)
        row = re.search(r'N193-\d+_\d+-col-\d+-(\d+)', filename).group(1)
        data.append({'image': filename, 'volume': volume, 'page': page, 'column': column, 'row': row})
df = pd.DataFrame(data)
df['row'] = pd.to_numeric(df['row'])
df = df.sort_values('row')    
df.head()

   column                      image  page  row    volume
33      2  N193-022_0184-col-2-0.jpg  0184    0  N193-022
32      2  N193-022_0184-col-2-1.jpg  0184    1  N193-022
39      2  N193-022_0184-col-2-2.jpg  0184    2  N193-022
40      2  N193-022_0184-col-2-3.jpg  0184    3  N193-022
26      2  N193-022_0184-col-2-4.jpg  0184    4  N193-022

In [18]:
df.to_csv('sample_rows.csv', index=False)